@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    margin: 0;
}

.menu-back {
    background: linear-gradient(to bottom, #000000f8, #01091E);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu-logo{
    display: flex;
    justify-content: flex-start;
}

.menu {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family:'Montserrat';
}

.menu h1 {
    color: white;
    font-size: 2.25em;
    margin: 20px;
    text-shadow: 1.5px 1.5px 3px rgba(255, 236, 236, 0.329);
}

.menu a{
    color: white;
    text-decoration: none;
}

.nav-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.nav-menu a {
    font-size: 1.5em;
    display: block;
    padding: 10px;
    margin: 10px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.397);
}

.hero-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#bg-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.hero-div {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    margin: 0 auto;
    display: inline-block;
    justify-content: center;
    position: absolute;
    text-align: center;
    color: white;
}

.hero-div h1 {
    font-size: 3.05em;
}

.botao-viagem {
    text-decoration: none;
    background-color:#620A0A;
    color: white;
    font-size: 2em;
    padding: 10px;
    border: 5px solid #620A0A;
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
}

.hero-div img{
    padding: 15px;
    margin-top: 30px;
    max-width: 110px;
    max-height: 76px;
} 

.divider-disc{
    background: linear-gradient(to bottom, #010718,#010618, #05080F);
    padding-top: 30px;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.212);
}

.divider-disc h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    padding-bottom: 20px;
}

.cards-bg{
    background: linear-gradient(to bottom, #04070F, #01091A);
    color: #F8F7F3;
    font-family: 'Montserrat';
    font-weight: 500;
    display: grid;
    gap: 20px 10%;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    background: #373636;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards h3 {
    color: #15AAFF;
    margin: 5%;
}

.cards p {
    margin: 0px 10px 10px 10px;
}

.lifecycle-sec{
    background: linear-gradient(to bottom, #010718,#010618, #05080F);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.8em;
    font-weight: 600;
}

.lifecycle-sec h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.212);
}

.slide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 7%;
    border-radius: 15px;
    background: linear-gradient(to bottom, #021030, #35007A);
}

.slide-content {
    display: block;
    align-items: center;
    text-align: center;
}

.slide-content p {
    margin: 20px;
}

.slide-content img {
    max-width: 560x;
}

.slide h3{
    margin: 30px;
}

.contact-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #010718,#010618, #05080F);
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
}

.contact-div {
    font-style: italic;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    text-align: center;
    color: white;
}

#bg-img-contact {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.contact-div h1 {
    font-size: 3.05em;
}

.form-sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(to bottom, #010718,#010618, #05080F);
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
}

.form-sec span {
    color: #F0B229;
}

.form-sec hr {
    max-width: 65.5%;
}

.form-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.form-header h1 {
    margin-left: 40px;
    max-width: 800px;
    font-size: 3em;
}

.form-header img {
    max-width: 320px;
    max-height: 320px;
}

.form-content {
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 1.5em;
}

.form-content h2 {
    margin-left: 40px;
    margin-bottom: 100px;
    max-width: 100%;
}

.form-content form{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 27vw);
    justify-content: center;
    align-items: center;
    gap: 40px 230px;
}

.form-content form input {
    text-align: left;
    font-size: 0.7em;
    padding: 15px;
    background: #373636;
    color: #F0B229;
    font-family: 'Montserrat';
    border-radius: 15px;
}

::placeholder {
    color: #F0B229;
}

.botao-confirmar {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    background-color:#F0B229;
    color: white;
    font-size: 1em;
    padding: 10px;
    border-radius: 25px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 600;
    background: #010B20;
}

footer img {
    max-width: 60px;
    max-height: 60px;
}

#logofooter {
    max-width: 86px;
    max-height: 86px;
}

.botao-footer {
    display: flex;
    padding: 20px;
    max-width: 120px;
    max-height: 20px;
    margin: 10px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    text-decoration: none;
    align-items: center;
}

footer div a{
    margin: 40px;
}